@model Proyecto_PrograAvanzada.Models2.TAB_PROFESOR

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TAB_PROFESOR</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.APELLIDO_MAT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.APELLIDO_MAT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.APELLIDO_PAT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.APELLIDO_PAT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CEDULA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CEDULA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TAB_ROL.ROL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TAB_ROL.ROL)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_PROFESOR }) |
    @Html.ActionLink("Back to List", "Index")
</p>
