@model IEnumerable<Proyecto_PrograAvanzada.Models2.TAB_PROFESOR>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NOMBRE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.APELLIDO_MAT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.APELLIDO_PAT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CEDULA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TAB_ROL.ROL)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NOMBRE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.APELLIDO_MAT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.APELLIDO_PAT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CEDULA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TAB_ROL.ROL)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_PROFESOR }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_PROFESOR }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_PROFESOR })
        </td>
    </tr>
}

</table>
