@model Proyecto_PrograAvanzada.Models2.TAB_CURSOS

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TAB_CURSOS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HORARIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HORARIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHA_INICIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA_INICIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHA_FIN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA_FIN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TAB_RECETAS.NOM_RECETA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TAB_RECETAS.NOM_RECETA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TAB_ESTADO.ESTADO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TAB_ESTADO.ESTADO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TAB_PROFESOR.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TAB_PROFESOR.NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TAB_USER.NOMBRE_USER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TAB_USER.NOMBRE_USER)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CODIGO }) |
    @Html.ActionLink("Back to List", "Index")
</p>
